<h3> Hi, <%=@user.username %> </h3>

<h2> You created <%= @user.jokes.count %> Jokes: </h2>

<% current_user.jokes.each do |joke| %>
  <p>Joke</p>
  <a href="/jokes/<%= joke.id %>"><%= joke.joke %></a>
  <p>Punchline: <%=joke.punchline%>
  <p>Vote tally: <%=joke.vote_tally%>  |  View Count: <%=joke.view_count%> </p>
  <% if joke.best_answer %>
  <p>Best answer</p>
    <%= joke.best_answer.description_text%>
  <% end %>
<% end %>



