<div class="list-of-jokes">
  <ul>
    <% @jokes.each do |joke| %>

      <li class="jokes-li"><div>
        <div class="stats inline">

          <div class="votes inline">
            <div><span title="votes"><center><%= joke.votes.count %></center></span></div>
            <div class="num-top-padding">votes</div>
          </div>

          <div class="answers inline">
            <div><span title="answers"><center><%= joke.answers.count %></center></span></div>
            <div class="num-top-padding">answers</div>
          </div>

          <div class="views inline">
            <div><span title="views"><center><%= joke.view_count %></center></span></div>
            <div class="num-top-padding">views</div>
          </div>

        </div>

          <div class="summary inline">
            <a href="/jokes/<%= joke.id %>"><%= joke.joke %></a>
            <br>
          </div>

      </div></li>
    <% end %>
  </ul>
</div>


