<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %> 
<% end %>

<section>
	<div class="joke-heading">
		<a href="/jokes/<%= @joke.id %>/votes?route=new" >UP</a>
		<br/>
		<%= @joke.vote_tally %>
		<br/>
		<a href="/jokes/<%= @joke.id %>/votes?route=delete" >DOWN</a>
		<p>votes</p>
	</div>
	<div class="joke-heading">
		<h3><%= @joke.joke %></h3>
	<div>
	<div class="joke-heading-punchline">
		<%= @joke.punchline %>
	</div>
	<div>
		<label>comment:</label>
		<form action="/jokes/<%= @joke.id %>/comments" method="POST">
			<textarea name="description_text"> </textarea>
			<input type="submit" value="submit" >
		</form>
	</div>
	<div class="joke-comments" >
		<% if @joke.comments.length > 0 %>
			<ul>
			<% @joke.comments.each do |comment| %>
				<li><%= comment.description_text %></li>
			<% end %>	
			</ul>
		<% end %>  
	</div>
</section>

<section>
	<h4>answers</h4>
	<ul>
		<% @joke.answers.each do |answer| %>
			<li>
			<div>
				<div class="answer-votes-heading">
				<a href="/answers/<%= answer.id %>/votes?route=new" >UP</a>
				<br/>	
					<%= answer.vote_tally %>
				<br/>
				<a href="/answers/<%= answer.id %>/votes?route=delete" >DOWN</a>
				<br/>
				</div>
				<div class="answer-heading">
					<%= answer.description_text %>
				</div>
				<div>
					<label>comment:</label>		
					<form action="/answers/<%= answer.id %>/comments" method="POST">
						<textarea name="description_text"></textarea>
						<input type="submit" value="submit" >
					</form>
				</div>
				<div class="answer-comments" >
					<% if answer.comments.length > 0 %>
						<ul>
						<% answer.comments.each do |comment| %>
							<li><%= comment.description_text %></li>
						<% end %>	
						</ul>
					<% end %>  
				</div>				
			</div>
			</li>
		<% end %>	
	</ul>
</section>


