<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<section class="joke-stuff">
	<div class="joke-heading">
		<a href="/jokes/<%= @joke.id %>/votes?route=new" >UP</a>
		<br/>
		<%= @joke.vote_tally %>
		<br/>
		<a href="/jokes/<%= @joke.id %>/votes?route=delete" >DOWN</a>
		<p>votes</p>
	</div>
	<div class="joke-heading">
		<h3><%= @joke.joke %></h3>
	<div>
	<div class="joke-heading-punchline">
		<%= @joke.punchline %>
	</div>
	<div id="click-to-comment-post">
		<button type="button">Add a Comment</button>
	</div>
	<div id="comment-on-post">
		<label>comment:</label>
		<form action="/jokes/<%= @joke.id %>/comments" method="POST">
			<textarea name="description_text"> </textarea>
			<input type="submit" value="submit" >
		</form>
	</div>
	<div class="joke-comments" >
		<% if @joke.comments.length > 0 %>
			<ul>
			<% @joke.comments.each do |comment| %>
				<li><%= comment.description_text %></li>
			<% end %>
			</ul>
		<% end %>
	</div>
</section>

<section class="answer-stuff">
	<h4>answers</h4>
	<div class="add-answer" >
		<label>write an answer(reveal the punchline!):</label>
		<form action="/jokes/<%= @joke.id %>/answers" method="POST" class="answer-form">
			<textarea name="description_text"></textarea>
			<input type="submit" value="submit" >
		</form>
	</div>
	<ul>
		<% @joke.answers.each do |answer| %>

		<% if @joke.best_answer_id == answer.id %>
      		<br><br><i aria-hidden="true" value=&#128514></i> <span id="bestanswer">Best Punchline!</span>
    	<% end %>
			<li>
			<div>
				<div class="answer-votes-heading">
				<a href="/answers/<%= answer.id %>/votes?route=new" >UP</a>
				<br/>
					<%= answer.vote_tally %>
				<br/>
				<a href="/answers/<%= answer.id %>/votes?route=delete" >DOWN</a>
				<br/>
				</div>
				<div class="answer-heading">
					<%= answer.description_text %>
				</div>

	<% if poster? %>
  		<form action="/answers/<%= answer.id %>" method="post">
  			<input type="hidden" name="_method" value="put">
    		<input type="submit" value="Best Punchline?">
  		</form>
	<% end %>
				<div id="click-to-comment-answer">
					<button  type="button">Add a Comment</button>
				</div>
				<div class="comment-on-answer">
					<label>comment:</label>
					<form action="/answers/<%= answer.id %>/comments" method="POST">
						<textarea name="description_text"></textarea>
						<input type="submit" value="submit" >
					</form>
				</div>
				<div class="answer-comments" >
					<% if answer.comments.length > 0 %>
						<ul>
						<% answer.comments.each do |comment| %>
							<li><%= comment.description_text %></li>
						<% end %>
						</ul>
					<% end %>
				</div>
			</div>
			</li>
		<% end %>
	</ul>
</section>


