
<section>
	<div class="joke-heading">
		<a href="/jokes/<%= @joke.id %>/votes?route=new" >UP</a>
		<br/>
		<%= @joke.vote_tally %>
		<br/>
		<a href="/jokes/<%= @joke.id %>/votes?route=delete" >DOWN</a>
		<p>votes</p>
	</div>
	<div class="joke-heading">
		<h3><%= @joke.joke %></h3>
	<div>
	<div class="joke-heading-punchline">
		<%= @joke.punchline %>
	</div>
	<div>
		<button id="click-to-comment-post" type="button">Add a Comment</button>
	</div>
	<div id="comment-on-post">
		<label>comment:</label>
		<form action="/comments" method="POST">
			<textarea> </textarea>
			<input type="submit" value="submit" >
		</form>
	<div>
</section>

<section>
	<h4>answers</h4>
	<ul>
		<% @joke.answers.each do |answer| %>

		<% if @joke.best_answer_id == answer.id %>
      		<br><br><i aria-hidden="true" value=&#128514></i> <span id="bestanswer">Best Punchline!</span>
    	<% end %>
			<li>
			<div>
				<div class="answer-votes-heading">
				<a href="/answers/<%= answer.id %>/votes?route=new" >UP</a>
				<br/>
					<%= answer.vote_tally %>
				<br/>
				<a href="/answers/<%= answer.id %>/votes?route=delete" >DOWN</a>
				<br/>
				</div>
				<div class="answer-heading">
					<%= answer.description_text %>
				</div>

	<% if poster? %>
  		<form action="/answers" method="post">
    	<input type="hidden" name="answer_id" value="<%= answer.id %>"/>
    	<input type="hidden" name="joke_id" value="<%= @joke.id %>"/>
    	<input type="submit" value="Best Punchline?">
  		</form>
	<% end %>
				<div>
					<button id="click-to-comment-answer" type="button">Add a Comment</button>
				</div>
				<div id="comment-on-answer">
					<label>comment:</label>
					<form action="/comments" method="POST">
						<textarea> </textarea>
						<input type="submit" value="submit" >
					</form>
				</div>
			</div>
			</li>
		<% end %>
	</ul>
</section>


