<div class="joke-show-all-content">
  <% if @errors %>
  	<% @errors.each do |error| %>
  		<%= error %>
  	<% end %>
  <% end %>

  <section class="joke-stuff">
    <div class="joke-container-show">
      <ul class="joke-ul">

        <div class="stats-show">
          <div class="votes-show joke-heading">
          	<a href="/jokes/<%= @joke.id %>/votes?route=new" ><center><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></center></a>
  					<br/>
            <div><center><span class="display-vote-tally" title="votes"><%= @joke.vote_tally %></span></center></div>
  					<br/>
  					<a href="/jokes/<%= @joke.id %>/votes?route=delete" ><center><i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i></center></a>
          </div>

          <div class="answers-show">
            <div><span title="answers"><center><%= @joke.answers.count %></center></span> answers</div>
          </div>

          <div class="views-show">
            <div><span title="views"><center><%= @joke.view_count %></center></span> views</div>
          </div>

          <div class="summary-show joke-heading">
            <span><h3><%= @joke.joke %></h3></span>
            <br>
      </ul>
    </div>
          <div class="joke-heading-punchline">
            <h2><%= @joke.punchline %></h2>
          </div>

    <div class="joke-comment">
        <div id="click-to-comment-post">
          <form>
            <a href="#">Add a Comment</a>
            <input id="button">
          </form>
        </div>

        <div id="comment-on-post">
          <label>comment:</label>
          <form action="/jokes/<%= @joke.id %>/comments" method="POST" class="comment-form">
            <textarea name="description_text"> </textarea>
            <input class="submit-button" type="submit" value="submit" >
          </form>
        </div>
        <div class="joke-comments" >
          <% if @joke.comments.length > 0 %>
            <ul>
            <% @joke.comments.each do |comment| %>
              <li><%= comment.description_text %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </section>
    </div>

    <div class="answer-container-show">
      <section class="answer-stuff">
      	<h4>Answers:</h4>
      	<div class="add-answer" >
      		<label><strong>Write an answer (reveal the punchline!):</strong></label>
      		<form action="/jokes/<%= @joke.id %>/answers" method="POST" class="answer-form">
      			<textarea name="description_text"></textarea>
      			<input class="submit-button" type="submit" value="submit" >
      		</form>
      	</div>

        <div class="show-answers">
        <div class="appear-answer"></div>
          <%= erb :'/jokes/_joke_show_answers', locals: { joke: @joke } %>
        </div>

    </section>
  </div>
